<!doctype html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>first_app Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h2>Hi, this is a picture of Django Guitar!</h2>
    <img src="{% static 'images/django_guitar.jpg' %}" alt='Uh oh, unable to show image!' width="20%">

    <div>
        <strong>Text inserted: "{{ insert_me }}"</strong>
        <br>
        <a href="{% url 'second_app:home' %}">Back to home page</a>
    </div>
</body>
</html>